---
import PageLayout from "../layouts/PageLayout.astro";

const base = import.meta.env.BASE_URL.replace(/\/$/, "");
const withBase = (path: string) => `${base}${path}`;
---

<PageLayout title="Donate" description="Support BCCP research, education, visitors, workshops, and students.">
<h4>The BCCP Partner Fund</h4>
<img alt="/images/support/endow.jpg" class="align-right" src={withBase("/images/support-endow.jpg")}><p>Unlocking the mysteries of the universe is an exciting scientific
challenge. How will we succeed? With visionary funders who understand
the magnitude of the moment and are willing to make an investment in
the future of science. As a heroic partner with the BCCP, we can
illuminate the infrastructure of the universe and help nurture the
next generation of promising scientists.</p>
<p>The very human desire to know, to understand, to be part of a grand
intellectual journey is motivating a remarkable quest. The
concentration of talent at the BCCP is dedicated to teaching as well
as research. This creates a singular opportunity to involve today's
educators in an equally heroic pursuit - engaging and inspiring the
next generation of physicists, engineers, mathematicians, teachers,
and citizen-scientists.</p>
<p>An investment in the BCCP is not only an investment in the future of
cosmology. It also means creating a model of inquiry that can usher in
a new era of 21st century science - with the utility and power to
solve very complex problems.  Having pioneered data analysis
procedures for extremely large data sets, cosmological methodologies
have great potential for many other data intensive fields - climate
change being the most urgent. Cosmology research created an enormous
impact on many disciplines - seeding advances in math, chemistry,
engineering, physics, astronomy, astrophysics, particle physics,
biology, and even theology and philosophy.</p>
<p>As the University embarks on the <a href="http://campaign.berkeley.edu/">Campaign for Berkeley</a>, BCCP's frontier research and
education depends on private philanthropy from UCB alumni and friends,
corporations, and foundations. Gifts to Berkeley play an essential
role both in sustaining fundamental traditions of excellence and in
moving the University forward decisively.</p>
<p>For more information, contact BCCP Administrative Officer
Laura Fantone.</p>
<p><a class="button" href="https://give.berkeley.edu/egiving/index.cfm?fund=FU0925000">Donate</a></p>
</PageLayout>
