---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Events" description="Seminars, lunches, workshops, and center events.">
<p><strong>BCCP Lunch Events:</strong> BCCP Lunch Events usually take place in Hearst
Field Annex (HFA) B-1 at noon. The venue and dates may be subject to
change. To keep you notified, please contact Melissa Barclay to be added to the lunch mailing list.</p>
<section id="week-of-november-24"><h2>Week of November 24</h2>
<p><strong>Tuesday, November 25</strong></p>
<ul>
<li>
<p><a href="http://cosmology.berkeley.edu/sem_bcg_future.html">Berkeley Cosmology Seminar</a></p>
<div class="line-block">
<div class="line">Location: UCB, Hearst Field Annex B-1 – 1:10 pm</div>
<div class="line">Speaker: Camille Avestruz, Yale</div>
<div class="line">Title: "Cosmological Simulations of Galaxy Cluster Outskirts"</div>
</div>
<p>Abstract: The observational study of galaxy cluster outskirts is a
new territory to probe the thermodynamic and chemical structure of
the X-ray emitting intracluster medium (ICM).  Cluster outskirts are
particularly important for modeling the Sunyaev-Zel'dovich effect,
which is sensitive to hot electrons at all radii and has been used
to detect hundreds of galaxy clusters with recent microwave cluster
surveys. In cluster-based cosmology, measurements of cluster
outskirts are an important avenue for estimating the cluster mass,
as the outskirts are less sensitive to baryonic processes that
dominate the cluster core. However, recent observations of cluster
outskirts deviate from theoretical expectations, indicating that
cluster outskirts are more complicated than previously thought.
Computational modeling of cluster outskirts is necessary to
interpret these observations. I will present cosmological
simulations of galaxy cluster formation that follow the
thermodynamic and chemical structures in the virialization regions
of the ICM and transition to the IGM.  Specifically, I will discuss
how observational signatures of galaxy clusters are affected by gas
flows, inhomogeneities in the ICM, and non-equilibrium physics.</p>
</li>
</ul></section><section id="week-of-november-17"><h2>Week of November 17</h2>
<p><strong>Monday, November 17</strong></p>
<ul>
<li>
<p><a href="http://astro.berkeley.edu/tac/seminar/">Theoretical Astrophysics Seminar</a></p>
<div class="line-block">
<div class="line">Location: UCB - Hearst Field Annex B5, 12:10 p.m.</div>
<div class="line">Speaker: Jing Luan (Caltech)</div>
<div class="line">Title: "Historical Heat Responsible for Enceladus's Plume"</div>
</div>
</li>
<li>
<p><a href="http://www-theory.lbl.gov/cgi-bin/talks/plans.cgi">4D Seminars</a></p>
<div class="line-block">
<div class="line">Location: UCB - 402 Old Le Conte, 2:30 p.m. Speaker: Seyda Ipek (Washington U., Seattle)</div>
<div class="line">Title: CP Violation in Pseudo-Dirac Fermion Oscillations"</div>
</div>
</li>
<li>
<p><a href="http://physics.berkeley.edu/news-events/events/20140915/fall-2014-colloquia-schedule">Physics Department Colloquium</a></p>
<div class="line-block">
<div class="line">Location: UCB, 1 Le Conte Hall - 4:15 p.m.</div>
<div class="line">Speaker: David Demille (Yale)</div>
<div class="line">Title: "A Tabletop-scale Probe for TeV Physics: the Electric Dipole Moment of the Electron"</div>
</div>
</li>
</ul>
<p><strong>Tuesday, November 18</strong></p>
<ul>
<li>
<p><a href="http://cosmology.berkeley.edu/sem_bcg_future.html">Berkeley Cosmology Seminar</a></p>
<div class="line-block">
<div class="line">Location: UCB, Hearst Field Annex B-1 – 1:10 pm</div>
<div class="line">Speaker: Emanuele Castorina, SISSA</div>
<div class="line">Title: "Massive neutrinos and the Large Scale Structures of the Universe"</div>
</div>
<p>Abstract: Massive neutrinos have peculiar effects on several
observables in current and future redshift surveys. A precise
determination of them is crucial not only to constraint properly
neutrino masses but also to avoid potential systematic errors in the
determination of other cosmological parameters, e.g. the dark energy
equation of state. In this talk, after a brief review of linear theory
results, I will discuss, with the help of a large suite of N-body
simulations, the effect of massive neutrinos on different cosmological
probes, like the abundance of massive clusters, the non linear matter
power spectrum and its relation to the galaxy power spectrum, redshift
space distorsions, and the bispectrum. <a href="http://www-theory.lbl.gov/cgi-bin/talks/plans.cgi">http://www-theory.lbl.gov/cgi-bin/talks/plans.cgi</a></p>
</li>
<li>
<p><a href="http://www-theory.lbl.gov/cgi-bin/talks/plans.cgi">String Seminar</a></p>
<div class="line-block">
<div class="line">Location: UCB - 402 Old Le Conte, 3:40 p.m.</div>
<div class="line">Speaker: Christopher Beem (IAS)</div>
<div class="line">Title: "Chiral Symmetry Algebras in Four and Six Dimensions"</div>
</div>
</li>
<li><p>Physics RPM - no RPM today</p></li>
</ul>
<p><strong>Wednesday, November 19</strong></p>
<ul>
<li>
<p><em>BOSS Lunch</em></p>
<p>Location: LBNL - 50B-4205, noon</p>
</li>
<li>
<p><a href="http://instrumentationcolloquium.lbl.gov/">Interdisciplinary Instrumentation Colloquium</a></p>
<p>Location: LBNL - 15-253, 12 p.m.</p>
<p>Speakers:</p>
<ul class="simple">
<li><p>Cameron Geddes (ATAP): "Measuring the
energy-angle spectrum of a single burst of 10^9 gamma rays"</p></li>
<li><p>Azriel Goldschmidt (NS): "Identifying one single barium ion in one ton of
xenon"</p></li>
<li><p>Qing Ji (IBT): "Inventing an anti-neutrino generator"</p></li>
</ul>
</li>
<li>
<p><a href="http://www-theory.lbl.gov/cgi-bin/talks/plans.cgi">Particle Theory Seminar</a></p>
<div class="line-block">
<div class="line">Location: LBNL - 50A-5132, 2:00 p.m. Speaker:  Gustavo Tavares (BU)</div>
<div class="line">Title: tba</div>
</div>
</li>
<li><p>String Group Meeting - cancelled</p></li>
<li>
<p>CANDi Location: LBNL, 50-5026, 3:30 p.m.</p>
<p>Discussion: <a href="http://voxcharta.org/2014/11/16/cosmological-leverage-from-the-matter-power-spectrum-in-the-presence-of-baryon-and-nonlinear-effects/">Cosmological Leverage from the Matter Power Spectrum in the Presence of Baryon and Nonlinear Effects</a> (ArXiv #: 1411.3725)</p>
</li>
</ul>
<p><strong>Thursday, November 20</strong></p>
<ul>
<li>
<p>Astronomy Lunch</p>
<div class="line-block">
<div class="line">Location: UCB, B5 Hearst Field Annex - 12:30 p.m.</div>
<div class="line">Speakers: tba</div>
</div>
</li>
<li>
<p><a href="http://www-theory.lbl.gov/cgi-bin/talks/plans.cgi">Special Particle Theory Seminar</a></p>
<div class="line-block">
<div class="line">Location: LBNL - 50A-5132, 2:00 p.m.</div>
<div class="line">Speaker: Clifford Cheung (Caltech)</div>
<div class="line">Title: "Accidental Holomorphy in 4D EFTs"</div>
</div>
</li>
<li>
<p><a href="http://events.berkeley.edu/index.php/calendar/sn/astro?view=summary&amp;timeframe=month&amp;filter=Secondary%20Event%20Type&amp;filtersel=739">Astronomy Colloquium</a></p>
<div class="line-block">
<div class="line">Location: UCB, 2 LeConte Hall, 4:00 p.m.</div>
<div class="line">Speaker: Fiona Harrison (Caltech)</div>
<div class="line">Title: tba</div>
<div class="line">Abstract: tba</div>
</div>
</li>
<li>
<p><a href="http://www-physics.lbl.gov/seminars/rpm.html">Physics Research Progress Meeting</a></p>
<div class="line-block">
<div class="line">Location: LBNL - 50A-5132, 4:00 p.m.</div>
<div class="line">Speaker: Gianpaolo Carosi (LLNL)</div>
<div class="line">Title: "The ADMX Experiment“</div>
</div>
<p>Abstract: The nature of dark matter is one of the great mysteries of
modern physics. Existence of dark matter has been inferred from its
gravitational effects over many distance scales, but currently no
known particle can account for the observed data. As a result, new
particles beyond the standard model have been suggested. The axion
is one such particle that was originally devised as a solution to
the strong-CP problem in nuclear physics (or the peculiar absence of
a measurable electric dipole moment in the neutron). The Axion Dark
Matter eXperiment (ADMX), and its sister experiment ADMX-High
Frequency (ADMX-HF), are designed to detect axions by using large
microwave cavities immersed in a strong magnetic field to resonantly
convert the axion’s rest mass into detectable photons. In this talk
I will describe the history of axion searches and the ADMX
experiment in particular, which ran at LLNL for over a decade before
being moved to the University of Washington. I will then discuss the
upgrades to the ADMX experiment as it prepares for its upcoming
search with orders-of-magnitude greater sensitivity. I will also
outline R&amp;D efforts currently being undertaken to expand the search
range of ADMX further and ultimately determine if axions are, or are
not, the major dark matter component of the Universe.</p>
</li>
</ul>
<p><strong>Friday, November 21</strong></p>
<ul>
<li>
<p><a href="http://inpa.lbl.gov/INPA/journalclub.html">INPA Seminar</a></p>
<div class="line-block">
<div class="line">Location: LBNL, 50-5026, 12 p.m.</div>
<div class="line">Speaker: Ryan Cooke (UC Santa Cruz)</div>
<div class="line">Title: "The primordial deuterium abundance and the search for new physics"</div>
</div>
<p>Abstract: We are currently in an exciting era of precision
cosmology.  With the release of the cosmic microwave background data
recorded by the Planck satellite, we are now in a position to
accurately test the standard model of cosmology and particle
physics. In this talk, I will present several precise measurements
of the primordial abundance of deuterium - the most accurate
measurements to date - derived from redshift ~3 metal-poor damped
Lyman-alpha systems. These data have offered a new insight into the
physical laws of the Universe just minutes after the Big Bang. Such
precise measures, when analyzed in conjunction with the Planck data,
now place strong bounds on both the total amount of visible matter
in the Universe and the effective number of neutrino species. These
data further provide new limits on physics beyond the standard
model. I will discuss our ongoing survey to obtain new precision
measures of the primordial nuclei in the era of the 30m class
telescopes.</p>
</li>
<li>
<p><a href="https://www.ssl.berkeley.edu/research/sslcolloquia/">SSL Colloquium</a></p>
<div class="line-block">
<div class="line">Location: SSL, Addition conference room, 3 p.m.</div>
<div class="line">Speaker: Julian Bautista (Univ of Utah)</div>
<div class="line">Title: "Baryon acoustic oscillations in the Lyman-alpha forest of BOSS quasars"</div>
</div>
</li>
</ul></section>
</PageLayout>
