---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="People" description="BCCP-affiliated directors, faculty, scientists, postdocs, students, alumni, and administrators.">
<div class="col-md-4 docutils container">
<p><strong>Directors</strong></p>
<div class="line-block">
<div class="line"><a href="http://physics.berkeley.edu/people/faculty/uros-seljak">Uros Seljak</a></div>
<div class="line">
<a href="http://physics.berkeley.edu/people/faculty/saul-perlmutter">Saul Perlmutter</a>, Nobel Laureate</div>
</div>
<p><strong>Founding Director</strong></p>
<div class="line-block">
<div class="line">
<a href="http:george-smoot">George Smoot</a>, Nobel Laureate</div>
</div>
<p><strong>Current BCCP-affiliated Postdocs</strong></p>
<div class="line-block">
<div class="line"><a href="https://abaleato.github.io/">Anton Baleato Lizancos</a></div>
<div class="line">Roger de Belsunce</div>
<div class="line">Joseph DeRose</div>
<div class="line"><a href="https://gerrfarr.github.io/">Gerrit Farren</a></div>
<div class="line">Shamik Ghosh</div>
<div class="line">Boryana Hadzhiyska</div>
<div class="line"><a href="https://www.minaskaramanis.com">Minas Karamanis</a></div>
<div class="line">Anthony Kremin</div>
<div class="line">Zack Li</div>
<div class="line">Amelie Tamone</div>
<div class="line">Noah Weaverdyck</div>
<div class="line">Rongpu Zhou &lt;<a href="https://rongpu.github.io/">https://rongpu.github.io/</a>&gt;`_</div>
</div>
</div>
<div class="col-md-4 docutils container">
<p><strong>BCCP-affiliated Graduate and Undergraduate students</strong></p>
<div class="line-block">
<div class="line">Biwei Dai</div>
<div class="line">Haruki Ebina</div>
<div class="line">Nathaniel Leslie</div>
<div class="line">Henry Liu</div>
<div class="line">Mark Maus</div>
<div class="line">Jakob Robnik</div>
<div class="line">Elisa Russier</div>
<div class="line">Noah Sailer</div>
<div class="line">James Sullivan</div>
<div class="line">Winston Yin</div>
</div>
<p><strong>Other BCCP-affiliated faculty and scientists</strong></p>
<div class="line-block">
<div class="line"><a href="https://commons.lbl.gov/display/physics/Greg+Aldering">Greg Aldering</a></div>
<div class="line"><a href="http://cita.utoronto.ca/~malvarez">Marcelo Alvarez</a></div>
<div class="line">Stephen Bailey</div>
<div class="line">Chris Bebek</div>
<div class="line"><a href="http://crd.lbl.gov/departments/computational-science/c3/c3-people/borrill/">Julian Borrill</a></div>
<div class="line"><a href="http://astro.berkeley.edu/~jcohn/">Joanne Cohn</a></div>
<div class="line"><a href="http://phyweb.lbl.gov/~rncahn/www/cahn.html">Bob Cahn</a></div>
<div class="line"><a href="http://rainwoodman.github.io/website">Yu Feng</a></div>
<div class="line"><a href="https://sferraro.lbl.gov/">Simone Ferraro</a></div>
<div class="line">Satya Gontcho A Gontcho</div>
<div class="line"><a href="https://physics.berkeley.edu/people/faculty/william-holzapfel">William Holzapfel</a></div>
<div class="line"><a href="http://panisse.lbl.gov/~akim/">Alex Kim</a></div>
<div class="line"><a href="http://physics.berkeley.edu/people/faculty/adrian-lee">Adrian Lee</a></div>
<div class="line">Michael Levi</div>
<div class="line"><a href="http://supernova.lbl.gov/~evlinder/">Eric Linder</a></div>
<div class="line"><a href="http://cosmology.berkeley.edu/directory.html">Pat McDonald</a></div>
<div class="line"><a href="http://astro.berkeley.edu/people/faculty/nugent.htm">Peter Nugent</a></div>
<div class="line">Anand Raichoor</div>
<div class="line">Natalie Roe</div>
<div class="line"><a href="https://bigboss.lbl.gov/Contacts.html">David Schlegel</a></div>
<div class="line">Rollin Thomas</div>
<div class="line"><a href="http://w.astro.berkeley.edu/~mwhite/">Martin White</a></div>
</div>
</div>
<div class="col-md-4 docutils container">
<p><strong>Former BCCP Postdocs</strong></p>
<div class="line-block">
<div class="line">Grigor Aslanyan</div>
<div class="line"><a href="http://kbarbary.github.io">Kyle Barbary</a></div>
<div class="line"><a href="https://commons.lbl.gov/display/physics/Florian+Beutler">Florian Beutler</a></div>
<div class="line"><a href="https://vmboehm.github.io/">Vanessa Boehm</a></div>
<div class="line"><a href="http://www.philbull.com/">Phil Bull</a></div>
<div class="line">Emanuele Castorina</div>
<div class="line">Solene Chabanier</div>
<div class="line"><a href="http://bccp.lbl.gov/~sudeep/home.html">Sudeep Das</a></div>
<div class="line"><a href="http://joshdillon.net/">Josh Dillon</a></div>
<div class="line"><a href="https://sites.google.com/view/aaron-ewall-wice/home">Aaron Ewall-Wice</a></div>
<div class="line">Xiao Fang</div>
<div class="line"><a href="https://commons.lbl.gov/display/physics/Andreu+Font-Ribera">Andreu Font</a></div>
<div class="line">Brian Hayden</div>
<div class="line">Lingyuan Ji</div>
<div class="line">Daniel Kuesters</div>
<div class="line"><a href="https://flanusse.net/">Francois Lanusse</a></div>
<div class="line"><a href="https://www.simonsfoundation.org/people/yin-li/">Yin Li</a></div>
<div class="line"><a href="https://liuxx479.github.io/">Jia Liu</a></div>
<div class="line"><a href="https://bccp.berkeley.edu/sherwin/Welcome.html">Blake Sherwin</a></div>
<div class="line"><a href="http://aaronmeisner.com">Aaron Meisner</a></div>
<div class="line">Justin Myles</div>
<div class="line"><a href="https://cosmicmar.com/">Marius Millea</a></div>
<div class="line">Michael Mortonson</div>
<div class="line"><a href="https://plaplant.github.io/">Paul La Plante</a></div>
<div class="line">Claire Poppett</div>
<div class="line"><a href="http://bethreid.com/BR/Home.html">Beth Reid</a></div>
<div class="line"><a href="https://eschaan.lbl.gov/">Emmanuel Schaan</a></div>
<div class="line"><a href="https://bccp.berkeley.edu/msl/">Marcel Schmittfull</a></div>
<div class="line"><a href="http:hee-jong-seo">Hee-Jong Seo</a></div>
<div class="line">Sukhdeep Singh</div>
<div class="line"><a href="http://w.astro.berkeley.edu/~zslepian/">Zachary Slepian</a></div>
<div class="line">George Stein</div>
<div class="line"><a href="https://bccp.berkeley.edu/people/anze-slosar/">Anze Slosar</a></div>
<div class="line"><a href="http:tristian-smith">Tristan Smith</a></div>
<div class="line"><a href="http:jeremy-tinker">Jeremy Tinker</a></div>
<div class="line"><a href="http://astro.berkeley.edu/~marcel/">Marcel van Daalen</a></div>
<div class="line">HongMing Zhu</div>
<div class="line"><a href="http://miguelzumalacarregui.es/">Miguel Zumalacarregui</a></div>
<div class="line"><a href="http://changhoonhahn.github.io">ChangHoon Hahn</a></div>
<div class="line"><a href="http://giuspugl.github.io/">Giuseppe Puglisi</a></div>
<div class="line">Antonella Palmese</div>
<div class="line"><a href="https://kponder.github.io/">Kara Ponder</a></div>
<div class="line">Michael Wilson</div>
</div>
<p><strong>Former BCCP Graduate and Undergraduate students</strong></p>
<div class="line-block">
<div class="line">Adrian Bayer</div>
<div class="line">Jonathan Blazek</div>
<div class="line">Kyle Boone</div>
<div class="line"><a href="https://sfschen.github.io/">Stephen Chen</a></div>
<div class="line">Parker Fagrelius</div>
<div class="line">Hannah Fakhouri</div>
<div class="line">Matt George</div>
<div class="line">Nick Hand</div>
<div class="line"><a href="http://bhorowitz.github.io">Benjamin Horowitz</a></div>
<div class="line">Eric Huff</div>
<div class="line">Max Lee</div>
<div class="line">Nishant Mishra</div>
<div class="line"><a href="https://bids.berkeley.edu/people/chirag-modi/">Chirag Modi</a></div>
<div class="line">Yookyung Noh</div>
<div class="line">Caroline Sofiatti</div>
<div class="line">Clare Saunders</div>
<div class="line">Casey Stark</div>
<div class="line">Ellie Kitanidis</div>
<div class="line">Byeonghee Yu</div>
</div>
<p><strong>BCCP Administrators</strong></p>
<p>Laura Fantone
Maria Feng</p>
<p><strong>Web administrator</strong></p>
<p>Bryan Abisher</p>
</div>
</PageLayout>
