---
import PageLayout from "../layouts/PageLayout.astro";

const base = import.meta.env.BASE_URL.replace(/\/$/, "");
const withBase = (path: string) => `${base}${path}`;
---

<PageLayout title="Research" description="Projects led by BCCP scientists or with heavy BCCP involvement.">
<p>These are some of the projects that are either led by
BCCP scientists, or that have heavy involvement from BCCP:</p>
<hr class="docutils">
<img alt="/images/research/sdss3_logo.png" class="align-left" src={withBase("/images/research/sdss3_logo.png")} style="height: 40px;"><section id="boss"><h2><a href="http://sdss3.org/surveys/boss.php">BOSS</a></h2>
<p>The Baryon Oscillation Spectroscopic Survey (BOSS) is a recently
completed 5-year survey designed to make the best-ever measurement of
the Baryon Acoustic Oscillations (BAO) signal.  The survey has
obtained spectra of approximately 1.5 million galaxies at z &lt; 0.7 and
160,000 quasars at much higher redshifts.</p>
<hr class="docutils">
<img alt="/images/research/polarbear_logo.png" class="align-left" src={withBase("/images/research/polarbear_logo.png")} style="height: 40px;"></section><section id="polarbear"><h2><a href="http://bolo.berkeley.edu/polarbear/">POLARBEAR</a></h2>
<p>The Polarization of Background Radiation (POLARBEAR) experiment is
designed to detect B-modes in the Cosmic microwave background (CMB)
and use them to investigate the origin and evolution of the Universe
and to understand physics and cosmology beyond our Standard Model.</p>
<hr class="docutils">
<img alt="/images/research/des_logo.jpg" class="align-left" src={withBase("/images/research/des_logo.jpg")} style="height: 40px;"></section><section id="dark-energy-survey"><h2><a href="#dark-energy-survey">Dark Energy Survey</a></h2>
<p>The Dark Energy Survey (DES) is a 5-year imaging survey currently
underway.  It is designed to make seasurements of supernovae, baryon
acoustic oscillations, galaxy clusters and weak gravitational lensing
by imaging 5000 square degrees with a new specially designed 560
megapixel camera, DECam.</p>
<hr class="docutils">
<img alt="/images/research/c3_logo.jpg" class="align-left" src={withBase("/images/research/c3_logo.jpg")} style="height: 40px;"></section><section id="computional-cosmology-center"><h2><a href="https://c3.lbl.gov/">Computional Cosmology Center</a></h2>
<p>The Computational Cosmology Center (C3) is a focused collaboration of
astrophysicists and computational scientists whose goals are to
develop the tools, techniques and technologies to meet the analysis
challenges posed by present and future cosmological data sets.</p>
<hr class="docutils">
<img alt="/images/research/scp_logo.jpg" class="align-left" src={withBase("/images/research/scp_logo.jpg")} style="height: 40px;"></section><section id="supernova-cosmology-project"><h2><a href="http://supernova.lbl.gov/">Supernova Cosmology Project</a></h2>
<p>The Supernova Cosmology Project (SCP) probes the properties of dark
energy in the first half of the universe, using supernovae at the
highest redshifts available. The collaboration is currently carrying
out a 2-year survey using the Hubble Space Telescope.</p>
<hr class="docutils">
<img alt="/images/research/snfactory_logo.jpg" class="align-left" src={withBase("/images/research/snfactory_logo.jpg")} style="height: 40px;"></section><section id="nearby-supernova-factory"><h2><a href="http://snfactory.lbl.gov/">Nearby Supernova Factory</a></h2>
<p>The Nearby Supernova Factory (SNfactory) is an experiment to develop
Type Ia supernovae as tools to measure the expansion history of the
Universe and explore the nature of Dark Energy.</p>
<hr class="docutils">
<img alt="/images/research/desi_logo.jpg" class="align-left" src={withBase("/images/research/desi_logo.jpg")} style="height: 40px;"></section><section id="dark-energy-spectroscopic-instrument"><h2><a href="http://desi.lbl.gov/">Dark Energy Spectroscopic Instrument</a></h2>
<p>The Dark Energy Spectroscopic Instrument (DESI) will measure the
effect of dark energy on the expansion of the universe.  It will
obtain optical spectra for tens of millions of galaxies and quasars,
constructing a 3-dimensional map spanning the nearby universe to 10
billion light years.</p>
</section><hr class="docutils">
<section id="wfirst"><h2><a href="http://wfirst.gsfc.nasa.gov/">WFIRST</a></h2>
<p>The Wide-Field Infrared Survey Telescope (WFIRST) is a NASA
observatory designed to perform wide-field imaging and slitless
spectroscopic surveys of the near infrared (NIR) sky for the
community.</p>
</section>
</PageLayout>
