---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Visiting" description="Visitor program information and records of current and previous BCCP visitors.">
<p>We maintain an active program for visiting scholars. BCCP hosts
visitors at all levels, from senior scientists to postdocs, graduate
students, and undergraduates. Longer term visits involving
collaborative activities with BCCP members are especially
encouraged. BCCP can provide financial support for longer term
visitors working with BCCP members on BCCP related projects. The
applications are reviewed by a committee several times a year. All
decisions are based on the availability of space and funding.</p>
<section id="current-visitors"><h2>Current Visitors</h2>
<section id="spring-2024"><h3>Spring 2024</h3>
<ul class="simple">
<li><p>Mathew Robertson</p></li>
<li><p>Kangning Diao</p></li>
</ul></section><section id="fall-2023"><h3>Fall 2023</h3>
<ul class="simple">
<li><p>Jose Maria Palencia</p></li>
<li><p>Alejandro Avilés Cervantes</p></li>
<li><p>David Nabergoj</p></li>
</ul></section><section id="summer-2023"><h3>Summer 2023</h3>
<ul class="simple">
<li><p>Stephen Chen (August 2023)</p></li>
<li><p>Karthik Viswanathan (August 2023)</p></li>
<li><p>Jyotsna Ravi (July 2023 Pi2 research program)</p></li>
</ul></section></section><section id="previous-visitors"><h2>Previous Visitors</h2>
<section id="section-1"><h3>2023</h3>
<ul class="simple">
<li><p>Gerrit Farren (May 2023)</p></li>
<li><p>Marco Bonici (March- April 2023)</p></li>
<li><p>Hee-Jong Seo (Ohio University) 2022-23</p></li>
<li><p>Richard Grumitt (Oxford) Spring 2023</p></li>
<li><p>Tijan Prijon (December 22- January 2023)</p></li>
<li><p>Jamie Ruiz Zapatero (Oxford University) January 2023</p></li>
</ul></section><section id="section-2"><h3>2021-22</h3>
<p>Ido Ben Dayan (Ariel University) August  22- July 30</p>
</section><section id="spring-2020"><h3>Spring 2020</h3>
<ul class="simple">
<li><p>Miguel Zumalacárregui (Nordita) – January 1-May 30</p></li>
<li><p>David Shih (Rutgers) - January 1-June 30</p></li>
</ul></section><section id="fall-2019"><h3>Fall 2019</h3>
<ul class="simple">
<li><p>Miguel Zumalacárregui (Nordita) – January 1-May 30</p></li>
<li><p>Enea Di Dio (SNF) – January 1-December 31</p></li>
<li><p>He Jia (PKU) – February 11-October 4</p></li>
<li><p>Xuheng Luo (USTC) – July 1–September 30</p></li>
<li><p>David Shih (Rutgers) – August 1-December 31</p></li>
<li><p>Malgorzata Siudek (IFAE, Barcelona) – August 1-November 1</p></li>
<li><p>Jose Maria Ezquiaga (Chicago) - December 9-13</p></li>
</ul></section><section id="summer-2019"><h3>Summer 2019</h3>
<ul class="simple">
<li><p>Miguel Zumalacárregui (Nordita) – January 1-October 31</p></li>
<li><p>Enea Di Dio (SNF) – January 1-December 31</p></li>
<li><p>He Jia (PKU) – Feb 11-October 4</p></li>
<li><p>Hector Villarrubia Rojo (Univ Madrid) – March 23-June 29</p></li>
<li><p>Xuheng Luo (USTC) – July 1–September 30</p></li>
<li><p>Sarah Eftekharzadeh (Utah) – July 1–August 2</p></li>
<li><p>Elena Pierpaoli (USC) - August 13-20</p></li>
<li><p>David Shih (Rutgers) – August 1-December 31</p></li>
<li><p>Malgorzata Siudek (IFAE, Barcelona) – August 1-November 1</p></li>
</ul></section><section id="spring-2019"><h3>Spring 2019</h3>
<ul class="simple">
<li><p>Miguel Zumalacárregui (Nordita) – January 1-December 31</p></li>
<li><p>Enea Di Dio (SNF) – January 1-December 31</p></li>
<li><p>He Jia (PKU) – Feb 11-October 4</p></li>
<li><p>Hector Villarrubia Rojo (Univ Madrid) – March 23-June 29</p></li>
</ul></section><section id="fall-2018"><h3>Fall 2018</h3>
<ul class="simple">
<li><p>Miguel Zumalacárregui (Nordita) – January 1-December 31</p></li>
<li><p>Enea Di Dio (SNF) – January 1-December 31</p></li>
<li><p>Carlos Garcia-Garcia (Barcelona) – October 1-December 20</p></li>
<li><p>Jakob Robnik (Ljubljana)  - August 20-September 30</p></li>
<li><p>Elena Sarpa (LAM, Marseille) – September 28-October 6</p></li>
</ul></section><section id="summer-2018"><h3>Summer 2018</h3>
<ul class="simple">
<li><p>Miguel Zumalacárregui (Nordita) – January 1-December 31</p></li>
<li><p>Enea Di Dio (SNF) – January 1-December 31</p></li>
<li><p>Daniel Holz (Univ Chicago) - February 12-July 31</p></li>
<li><p>He Jia (PKU) – July 1-August 31</p></li>
</ul></section><section id="spring-2018"><h3>Spring 2018</h3>
<ul class="simple">
<li><p>Miguel Zumalacárregui (Nordita) – January 1-December 31</p></li>
<li><p>Enea Di Dio (SNF) – January 1-December 31</p></li>
<li><p>Sandrine Codis (IAP) - January 9-18</p></li>
<li><p>Daniel Holz (Univ Chicago) - February 12-July 31</p></li>
</ul></section><section id="fall-2017"><h3>Fall 2017</h3>
<ul class="simple">
<li><p>Daniel Green (Univ Toronto, CITA) - January 1-December 31</p></li>
<li><p>Miguel Zumalacárregui (Nordita) – January 1-October 31</p></li>
<li><p>Biwei Dai (PKU) – June 21-September 22</p></li>
<li><p>Enea Di Dio (SNF) – October 1-December 31</p></li>
<li><p>Robert Caldwell (Dartmouth) - September 20-December 20</p></li>
</ul></section><section id="summer-2017"><h3>Summer 2017</h3>
<ul class="simple">
<li><p>Daniel Green (Univ Toronto, CITA) - January 1-December 31</p></li>
<li><p>Miguel Zumalacárregui (Nordita) – January 1-October 31</p></li>
<li><p>Lukas Heizmann (Univ Heidelberg) – January 22-June 30</p></li>
<li><p>Hugo Bacry (ENS) - February 10-July 10</p></li>
<li><p>Jose Maria Ezquiaga (Madrid) – April 1-June 30</p></li>
<li><p>Biwei Dai (PKU) – June 21-September 22</p></li>
</ul></section><section id="spring-2017"><h3>Spring 2017</h3>
<ul class="simple">
<li><p>Daniel Green (Univ Toronto, CITA) - January 1-December 31</p></li>
<li><p>Miguel Zumalacárregui (Nordita) – January 1-October 31</p></li>
<li><p>Andreu Font-Ribera (UCL) - January 10-21</p></li>
<li><p>Lukas Heizmann (Univ Heidelberg) – January 22-June 30</p></li>
<li><p>Hugo Bacry (ENS) - February 10-July 10</p></li>
<li><p>Jose Maria Ezquiaga (Madrid) – April 1-June 30</p></li>
</ul></section><section id="fall-2016"><h3>Fall 2016</h3>
<ul class="simple">
<li><p>Daniel Green (Univ Toronto, CITA) - January 1-December 31</p></li>
<li><p>Bradley Shapiro (Downing College, Univ Cambridge) – June 20-September 23</p></li>
<li><p>Miguel Zumalacárregui (University of Heidelberg) – June 13-December 31</p></li>
<li><p>Nick Kaiser (IfA, University of Hawaii, Manoa) - September 1-18</p></li>
<li><p>Matej Srebre (LMU Munich) - August 22-October 28</p></li>
<li><p>Michael Wilson (Univ Edinburgh) – November 5-14</p></li>
</ul></section><section id="summer-2016"><h3>Summer 2016</h3>
<ul class="simple">
<li><p>Daniel Green (Univ Toronto, CITA) - January 1-December 31</p></li>
<li><p>Francisco Kitaura (Leibniz, Potsdam) - March 1-June 30</p></li>
<li><p>Cyril Creque-Sarbinowski (MIT) - May 23-August 26</p></li>
<li><p>Isabelle Goldstein (CMU) – May 18-July 8</p></li>
<li><p>Bradley Shapiro (Downing College, Univ Cambridge) – June 20-September 23</p></li>
<li><p>Miguel Zumalacárregui (University of Heidelberg) – June 13-December 31</p></li>
</ul></section><section id="spring-2016"><h3>Spring 2016</h3>
<ul class="simple">
<li><p>Daniel Green (Univ Toronto, CITA) - January 1-December 31</p></li>
<li><p>Francisco Kitaura (Leibniz, Potsdam) - March 1-June 30</p></li>
<li><p>Nikhil Padmanabhan (Yale) - April 17-May 1</p></li>
<li><p>Nico Hamaus (USM, LMU) - May 16-20</p></li>
<li><p>Irshad Mohammed (FNAL) – May 5-20</p></li>
</ul></section><section id="fall-2015"><h3>Fall 2015</h3>
<ul class="simple">
<li><p>Filip Kozarski (Ludwig-Maximilians-Univ) - August 31-October 16</p></li>
<li><p>Sergio Rodriguez (Univ Autonoma de Madrid) – September 6-December 6</p></li>
<li><p>Douglas Scott (Univ British Columbia) – November 30-December 17</p></li>
</ul></section><section id="summer-2015"><h3>Summer 2015</h3>
<ul class="simple">
<li><p>Miguel Zumalacárregui (University of Heidelberg) - August 10-September 10</p></li>
<li><p>Jeremy Tinker (NYU) – June 8-August 21</p></li>
<li><p>Hee-Jong Seo (Ohio University) – June 28-July 10</p></li>
</ul></section><section id="spring-2015"><h3>Spring 2015</h3>
<ul class="simple">
<li><p>Shun Saito (Kavli IPMU,  Univ. of Tokyo) – January 25-February 6</p></li>
<li><p>Irshad Mohammed (University of Zurich) – March 15-April 11</p></li>
<li><p>John Peacock (Royal Observatory of Edinburgh) – April 13-17</p></li>
</ul></section><section id="fall-2014"><h3>Fall 2014</h3>
<ul class="simple">
<li><p>Airam Marcos-Caballero (IFCA, Spain) - September 14-December 14</p></li>
<li><p>Miguel Zumalacárregui (University of Heidelberg) - September</p></li>
<li><p>Zvonimir Vlah (Univ of Zurich, ITP) - November 1-December 15</p></li>
</ul></section><section id="summer-2014"><h3>Summer 2014</h3>
<ul class="simple">
<li><p>Louis Garrigue (ENS-Ecole Normale Supérieure, Paris) - March 17-July
11</p></li>
<li><p>Jeremy Tinker (NYU) - June 17-August 21</p></li>
<li><p>Tamara Davis (U of Queensland) - June 24-27</p></li>
<li><p>Geraint Lewis (U of Sydney) - June 26-27</p></li>
</ul></section><section id="spring-2014"><h3>Spring 2014</h3>
<ul class="simple">
<li><p>Evan Scannapieco (ASU) - January 3-May 31</p></li>
<li><p>Irshad Mohammed (University of Zurich) - January 9-June 30</p></li>
<li><p>Miguel Zumalacárregui (University of Heidelberg) - January
22-February 10</p></li>
<li><p>Paul Shellard (University of Cambridge) - February 6-7</p></li>
<li><p>Arka Banerjee (University of Illinois, Urbana-Champaign) - February
9-22</p></li>
<li><p>Tong-Jie Zhang (Beijing Normal University) - February 27-May 27</p></li>
<li><p>Zvonimir Vlah (Univ of Zurich, ITP) - March 3-April 2</p></li>
<li><p>Louis Garrigue (ENS-Ecole Normale Supérieure, Paris) - March 17-July
11</p></li>
<li><p>Neal Dalal (Univ of Illinois) - March 26-28</p></li>
<li><p>Steffen Hess (AIP, Leibnitz Inst for Astrophysics, Potsdam) - May
12-22</p></li>
</ul></section><section id="fall-2013"><h3>Fall 2013</h3>
<ul class="simple">
<li><p>Elizabeth Krause (U Penn) - September 10-11</p></li>
<li><p>Zvonimir Vlah (Univ of Zurich, ITP) - September 17-December 20</p></li>
<li><p>Michael Kopp (LMU) - October 28-November 2</p></li>
<li><p>Juliana Kwan (Argonne National Lab) - November 13-22</p></li>
<li><p>Amol Upadhye (Argonne National Lab) - November 13-December 20</p></li>
<li><p>Teppei Okumura (IEU Korea) - November 13-30</p></li>
<li><p>Jonathan Blazek (OSU) - December 5-13</p></li>
</ul></section><section id="summer-2013"><h3>Summer 2013</h3>
<ul class="simple">
<li><p>Azadeh M. Dizgah (SUNY-Buffalo) - May 16-July 16</p></li>
<li><p>Jeremy Tinker (NYU) - May 30-August 20</p></li>
<li><p>Sudeep Das (Argonne National Lab) - July 9-27</p></li>
<li><p>Daniel Holz (Chicago) - August 27-28</p></li>
<li><p>Neal Dalal (Illinois) - August 30,</p></li>
<li><p>Wayne Hu (Chicago) - August 29-30</p></li>
<li><p>Joel Johansson (Stockholm) - August 29-30</p></li>
</ul></section><section id="spring-2013"><h3>Spring 2013</h3>
<ul class="simple">
<li><p>Alireza Hojjati (IEU Korea) - January 14-February 5</p></li>
<li><p>Chris Blake (Swinburne) - January 14-February 5</p></li>
<li><p>Tamara Davis (Queensland) - January 14-18</p></li>
<li><p>Morag Scrimgeour (Western Australia) - January 14 -</p></li>
<li><p>Sudeep Das (Argonne National Lab) - January 28-31</p></li>
<li><p>Chiaki Hikage (Nagoya University) - February 10-16</p></li>
<li><p>Miguel Zumalacarregui (Universidad Autonoma de Madrid) - February
15-22</p></li>
<li><p>Jaiyul Yoo (Univ. of Zurich) - February 23 - April 27</p></li>
<li><p>Laura Baudis (Univ. of Zurich) - April 26-May 4</p></li>
</ul></section><section id="fall-2012"><h3>Fall 2012</h3>
<ul class="simple">
<li><p>Stephen Appleby (IEU Korea) - October 7-26, 2012</p></li>
<li><p>Roland de Putter (Caltech/JPL) - October 19-25, 2012</p></li>
<li><p>David Pietrobon (JPL) - October 19-26, 2012</p></li>
<li><p>Tobias Baldauf (ITP, University of Zurich) - September 12-December 9,
2012</p></li>
<li><p>Johan Samsing (DARK Cosmology Centre, Copenhagen) - February-December
2012</p></li>
<li><p>Masanori Sato (Nagoya University, Japan) - October 5 - November 22,
2012</p></li>
<li><p>Andreu Font (University of Zurich) - November-December 2012</p></li>
<li><p>Teppei Okumura (Institute for the Early Universe, Seoul, Korea) -
November 5-December 21, 2012</p></li>
</ul></section></section><hr><section id="location-and-contact"><h2>Location and Contact</h2><p>Address: Campbell Hall 341 University of California, Berkeley, CA 94720</p><p>For business inquiries, please contact BCCP Business Administrator, Laura Fantone.</p><p>For extended visits, please refer to the visitor program information above.</p><iframe title="Campbell Hall map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1574.725871919613!2d-122.2569908!3d37.8731169!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80857c245f989543%3A0x1236c2e95f769aed!2sCampbell+Hall!5e0!3m2!1sen!2sus!4v1425424681671" width="600" height="450" loading="lazy" style="border:0;max-width:100%;"></iframe></section>
</PageLayout>
